App component

<dx-chart [dataSource]="chartData" #chart>
  <dxi-series argumentField="argument" valueField="value0" color="red" ></dxi-series>
  <dxi-series argumentField="argument" valueField="value1" color="black"></dxi-series>
  <dxi-series argumentField="argument" valueField="value2" color="black"></dxi-series>
  <dxi-series argumentField="argument" valueField="value3" color="black"></dxi-series>
  <dxi-series argumentField="argument" valueField="value4" color="black"></dxi-series>
  <dxi-series argumentField="argument" valueField="value5" color="black"></dxi-series>
  <dxi-series argumentField="argument" valueField="value6" color="black"></dxi-series>
  <dxi-series argumentField="argument" valueField="value7" color="black"></dxi-series>
  <dxi-series argumentField="argument" valueField="value8" color="black"></dxi-series>
  <dxi-series argumentField="argument" valueField="value9" color="black"></dxi-series>
</dx-chart>


Slider - move red line
<dx-slider #slider
           [min]="sliderMin"
           [max]="sliderMax"
           [(value)]="sliderValue"
></dx-slider>
<dx-number-box
  [min]="0"
  [max]="100"
  [showSpinButtons]="true"
  [(value)]="slider.value"
  (onValueChanged)="onSliderValueChanged($event)"
></dx-number-box>
<br><br>
<dx-button (onClick)="onButtonClick($event)">Move Red Line (Not Working)</dx-button>
